*{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans TC', sans-serif;
    text-decoration: none;
}
/* font-family: 'Satisfy', cursive; */
.container{
    max-width: 1190px;
    margin: 0 auto;
}
.flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.half{
    width: 48%;
}
.lead{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px;
}
.divider{
    height: 3px;
    background: #130f40;
}
.btn{
    padding: 10px 30px;
    background: radial-gradient(#130f40,#be2edd);
    font-size: 20px;
    font-weight: 600;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
}
/* Header Section Style */
.header{
    background: url(images/top-banner.png) no-repeat;
    background-size: cover;
}
.header .half img{
    max-width: 100%;
}
.header .about-me h3{
    font-size: 30px;
    color: #be2edd;
}
.header .about-me h1{
    font-size: 50px;
    font-weight: 800;
    color: #130f40;
}
/* Biography section Style */
.biography {
    margin-top: 70px;
    background: url(images/dream-bg.png) no-repeat top right;
}
.biography .half img{
    max-width: 100%;
}
.biography .half h1{
    font-size: 40px;
    font-weight: 900;
    color: #130f40;
}
.biography .half .lead{
    text-align: justify;
    padding: 20px 0;
}
/* Latest-Work Section Style */
.latest-work .items{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.latest-work  h1{
    text-align: center;
    font-size: 40px;
    color: #130f40;
}
.latest-work .items .item{
    width: 30%;
    overflow: scroll;
    max-height: 300px;
    margin-top: 35px;
}
.latest-work .items .item img{
    max-width: 100%;
}
/* Follow-Me Section Style */
.follow-me {
    padding: 80px 0;
    background: url(images/exp-bg.png) no-repeat top left;
}
.follow-me h1{
    font-size: 45px;
}
.follow-me .lead{
    padding: 20px 0;
    text-align: justify;
}
.follow-me img{
    width: 120px;
}
.follow-me .box{
    background: #130f40;
    padding: 20px;
}
.follow-me .box .box-body{
    border: 2px solid #fff;
    padding: 30px;
}
.follow-me .box .box-body .img{
    text-align: center;
}
.follow-me .box .box-body .img img{
    border: 3px solid #fff;
}
form {
    margin-top: 40px;
}
form label{
    display: block;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    margin-top: 20px;
}
form input{
    border: none;
    border-bottom: 2px solid #fff;
    padding: 5px;
    margin-top: 10px;
    background: transparent;
    width: 70%;
    color: #fff;
}
form input:focus{
    outline: none;
}
form  button {
    border: 0;
}
form .btn{
    margin-top: 20px;
    border-radius: 0px;
}
/* Footer Section Style */
.footer{
    text-align: center;
    background: #130f40;
    padding: 20px 0;
    color: #fff;
}
.footer a{
    color: #e83a3b;
}